[package]
name    = "profile-app"
version = "0.1.0"
edition = "2021"
build   = "build.rs"

[[bin]]
name    = "server"
path    = "server/main.rs"

[dependencies]
anyhow = "1.0.86"
rocket = { version = "0.5.1", features = ["json", "serde_json"] }
serde = "1.0.204"
