services:
  # containers are named after their relative
  # offset to the internal network configuration.
  vlb-profile-delta3:
    extends:
      file: compose.services.yml
      service: vlb-profile-web
    environment:
      - SERVICE_IPV4_ADDR=172.59.0.3
      - VLB_HOSTNAME=${NAME}-delta3
    ports:
      - 8003:8000

  vlb-profile-delta4:
    extends:
      file: compose.services.yml
      service: vlb-profile-web
    environment:
      - SERVICE_IPV4_ADDR=172.59.0.4
      - VLB_HOSTNAME=${NAME}-delta4
    ports:
      - 8004:8000

  vlb-profile-delta5:
    extends:
      file: compose.services.yml
      service: vlb-profile-web
    environment:
      - SERVICE_IPV4_ADDR=172.59.0.5
      - VLB_HOSTNAME=${NAME}-delta5
    ports:
      - 8005:8000

  vlb-profile-delta6:
    extends:
      file: compose.services.yml
      service: vlb-profile-web
    environment:
      - SERVICE_IPV4_ADDR=172.59.0.6
      - VLB_HOSTNAME=${NAME}-delta6
    ports:
      - 8006:8000

  vlb-profile-delta7:
    extends:
      file: compose.services.yml
      service: vlb-profile-web
    environment:
      - SERVICE_IPV4_ADDR=172.59.0.7
      - VLB_HOSTNAME=${NAME}-delta7
    ports:
      - 8007:8000

  vlb-profile-delta8:
    extends:
      file: compose.services.yml
      service: vlb-profile-web
    environment:
      - SERVICE_IPV4_ADDR=172.59.0.8
      - VLB_HOSTNAME=${NAME}-delta8
    ports:
      - 8008:8000

  vlb-proxy-delta2:
    extends:
      file: compose.services.yml
      service: vlb-profile-proxy
    environment:
      - SERVICE_IPV4_ADDR=172.59.0.2
    ports:
      - 8002:80

networks:
  vlb:
    ipam:
      driver: default
      config:
        - subnet: "172.59.0.0/16"
      options:
        alpha: "0"
        beta: "1"
        gamma: "2"
 